@*https://help.syncfusion.com/aspnetmvc/grid/style-and-appearance*@

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message1</h3>

<p>Use this area to provide additional information.</p>

@Html.EJS().Grid("DataGrid").DataSource(ds => ds.Json(ViewBag.datasource).UpdateUrl("/Management/Update").InsertUrl("/Management/Insert").RemoveUrl("/Management/Remove").Adaptor("RemoteSaveAdaptor")).Columns(col =>
{

    col.Field("id").IsPrimaryKey(true).Visible(false).Add();
    col.Field("sourceVMResourceGroup").HeaderText("Source VM Resource Group").Add();
    col.Field("sourceVMName").HeaderText("Source VM Name").Add();
    col.Field("imagesLocation").HeaderText("Images Location").Add();
    col.Field("imagesResourceGroup").HeaderText("Images Resource Group").Add();
    col.Field("imagePrefix").HeaderText("Images Prefix").Add();
    col.Field("imageVersion").HeaderText("Image Version").Add();
    col.Field("imageRecurrance").HeaderText("Image Recurrence(days)").Add();
    col.Field("imageDate").HeaderText("Image Creation Date").AllowEditing(false).Add();
    col.Field("imageVersion").HeaderText("Image Version").Add();
    col.Field("status").HeaderText("Image Generation Status").AllowEditing(false).Add();

}).AllowTextWrap(true).TextWrapSettings(text => { text.WrapMode(Syncfusion.EJ2.Grids.WrapMode.Header); }).AllowPaging().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Menu); }).EditSettings(edit => { edit.AllowAdding(true).AllowEditing(true).AllowDeleting(true).ShowDeleteConfirmDialog(true).Mode(Syncfusion.EJ2.Grids.EditMode.Dialog); }).Toolbar(new List<string>
    () { "Add", "Edit", "Delete", "Update", "Cancel" }).Render()

<p></p>
<h3>@ViewBag.Message2</h3>
<p>Use this area to provide additional information.</p>





@*@Html.EJS().Grid("CellCustomize").DataSource((IEnumerable<object>)ViewBag.DataSource).Columns(col =>
{
   col.Field("OrderID").HeaderText("Order ID").Width("120").CustomAttributes(new { @class = "customcss" }).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
   col.Field("CustomerID").HeaderText("Customer ID").Width("150").Add();
   col.Field("ShipCity").HeaderText("Ship City").CustomAttributes(new { @class = "e-attr" }).Width("150").Add();
   col.Field("OrderDate").HeaderText("Order Date").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Format("yMd").Add();

}).AllowPaging().Render()

<style>

    .e-attr {
        background: #d7f0f4;
    }
</style>*@
